.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header a {
  padding: 20px;
  margin: 0 10px;
  color: #000;
  font-size: 20px;
  transition: color 0.4s ease-in-out;
}

.header a:hover,
.header .active {
  color: rgb(255, 0, 0);
}
